* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    "item-a"
    "item-b"
    "item-c";
}

.a, .b, .c {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50vh;
}

.a {
    border-color: #ffffba;
    grid-area: item-a;
}

.b {
    border-color: #ffdfba;
    grid-area: item-b;
}

.c {
    border-color: #baffc9;
    grid-area: item-c;
}

@media screen and (min-width: 600px) {
    body {
    grid-template-areas:
    "item-a item-a"
    "item-c item-b";
    grid-template-columns: minmax(auto, 600px) minmax(auto, 600px);
    justify-content: center;
    }
}
